>
    
.Button
    padding: 10px 20px
    font-weight: 700
    border-radius: 5px
    outline-style: none
    transition: all .2s linear 
    &:hover
        cursor: pointer
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3)
.success
    outline: #63C7B2
    color: #63C7B2