@import "../../../sass-variables/Input.module.sass"

.InputWrapper
    position: relative

    button
        position: absolute
        top: 20px
        right: 20px
        


.TextArea
    @include inputGeneralStyle  
    resize: none
    padding-top: 25px
    padding-bottom: 25px
    
    overflow: auto
    
    